<html>
    
    <head>
        <link rel="stylesheet" href="partials.css" type="text/css" media="all" />
    </head>
    
    <body>
        <p><strong>LITOIU STEFAN</strong></p>
                <p><strong>grupa 1070</strong></p>
                        <p><strong>Seria A</strong></p>
                                <p><strong>CSIE-Informatica Economica</strong></p>
                                        <p><strong>ACADEMIA DE STUDII ECONOMICE BUCURESTI</strong></p>
      
        <br>
        <br>
        <br>
      <p><strong>><a href="https://gmail.com">&hearts;gmail:stefanlitoiu95@gmail.com</a></strong</p>
       <br>
       <br>
       <br>
        <p><strong>><a href="https://mail.yahoo.com">&hearts;yahoo:stefanlitoiu@yahoo.com</a></strong</p>
       <br>
       <br>
       <br>
       <p><strong>><a href="https://www.facebook.com/litoiu.stefan">&hearts;Facebook</a></strong</p>

       <br>
       <br>
       <br>
        <p><strong>><a href="https://github.com/litoiustefan/webtech-prj-MOVIES.git">&hearts;GITHUB</a></strong</p>

       
     

    </body>
</html>