<html>
    
    <head>
        <link rel="stylesheet" href="partials.css" type="text/css" media="all" />
    </head>
    
    <body>
        <p><strong> THE FOUNDER(2017)</strong></p>
        <iframe src="http://www.fandango.com/videos/player/847484995708?genre=Drama&rt=0&plc=0" height="349" width="95%" frameborder="0" seamless="seamless" allowfullscreen="">Your browser does not support iframes.</iframe>
        
       <p><strong> SPLIT(2017)</strong></p> 

       <iframe src="http://www.fandango.com/videos/player/794028099676?genre=Horror%2CSuspense%2FThriller&rt=0&plc=0" height="349" width="95%" frameborder="0" seamless="seamless" allowfullscreen="">Your browser does not support iframes.</iframe>
       <p><strong>THE RESURRECTION OF GAVIN STONE(2017) </strong></p> 

     <iframe  src="http://www.fandango.com/videos/player/795037251574?genre=Comedy&rt=0&plc=0" height="349" width="95%" frameborder="0" seamless="seamless" allowfullscreen="">Your browser does not support iframes.</iframe>

    </body>
</html>