<html>
    
    <head>
        <link rel="stylesheet" href="partials.css" type="text/css" media="all" />
    </head>
    
    <body>
        <p><strong>CHIPS Trailer Offers A Look At The Cops In Action</strong></p>
        <p>
Turning late 1970's cop show CHiPs into a movie might have seemed like a risky stab at re-inventing something today's younger audiences might not know much about beyond some Ponch-related pop culture references. But nostalgia remains a driving force, so here's Dax Shepard and Michael Peña squeezing into the brown motorcycle duds for an R-rated comedy movie version, which has a first trailer out.
        </p>
        
       <p><strong>Full-size LEGO Batmobile revealed by Chevrolet</strong></p> 

<p>Chevrolet, along with students from Detroit’s Cody Rouge community, A World in Motion and FIRST LEGO League, unveiled its life-size LEGO Batmobile at the North American International Auto Show. You can view photos from the unveiling in the gallery below.

Measuring 17-feet long and featuring exclusive stud shooters, the LEGO Batmobile from Chevrolet was designed to strike fear in the heart of any villain. The vehicle was inspired by Batman’s Speedwagon featured in The LEGO Batman Movie, which hits U.S. theaters on Feb. 10.

In this exciting new animated LEGO adventure, Batman, DC’s iconic Super Hero who famously prefers to work alone, must learn to cooperate and connect with others to save Gotham City from The Joker.

“To work on the LEGO Batmobile with Warner Bros. is an absolute thrill for us at Chevy,” said Paul Edwards, U.S. vice president of Chevrolet Marketing. “Many of the themes in ‘The LEGO Batman Movie,’ like imagination, family and community, align perfectly with our Chevy brand values and add to the value of the partnership.”

The LEGO Batmobile from Chevrolet will also appear in the next variation of Chevrolet’s “Real People, Not Actors” campaign. In the new spot, real LEGO Minifigure figurines discuss what kind of person would drive the all-new LEGO Batmobile. You can watch the video below!

To learn more about all the exciting options available on the LEGO Batmobile, please visit Chevrolet.com.

LEGO Batmobile Fast Facts:

– It’s 83 inches (6.92 feet) high, 204 inches (17 feet) long and 111 inches (9.25 feet) wide.
– Total weight is 1,695.5 pounds. Each tire is just over 100 pounds.
– The interior frame is made from more than 86 feet of square tube aluminum and weighs 282.5 pounds.
– Total number of LEGO bricks used to build the Batmobile: 344,187
– Total number of LEGO colors used: 17
– The LEGO Batmobile took 222 hours to design and 1,833 hours to build.
– The LEGO Batmobile was designed and assembled in the LEGO Model Shop in Enfield, Connecticut, by LEGO Master Builders.
</p>

    </body>
</html>